      {% extends 'base.html'%}
      {% block main%}
    	<header  class="text-center">

                <div id="banner" class="container">

                      <div class="row justify-content-center align-items-center" style="height: 100vh;">

                            <div class="col">

                                  <h2 id="banner-heading" class="text-black-100 mt-6 my-6 font-weight-bold">
                                  	آموزش مورد نظر شما
                                  </h2>

                                  <h5 id="banner-par" class="text-black-100 mx-auto mt-4 mb-5 ">
                                     با ما بهترین باشید
                                  </h5>
                            </div>
                      </div>
                </div>
    </header>
 		<div class="container-fluid">
 			<div dir="ltr" class="row">
 				<div class="col-md-3 Styles my-5 mx-3 bg-filter">
					<div class="row mt-1">
						<div class="col">
						<div  class="col text-center mb-1 p-2 Purple ">
							<a id="bg-color" >دسته بندی ها</a>
							</div>
						</div>
					</div>
					{% for category in categories %}
 					<div class="row mt-3 mb-1 mx-2">
 						<div  class="col text-center mb-1 p-2 Purple ">
 							<a id="bg-color" href="{% url 'posts' category.title %}" >{{category.title}}</a>
 						</div>
 					</div>
					{% endfor %}
        </div>

				<!--course-->
 	      <div class="col-md-8 main pb-2 mt-5 " >
         {% for post in posts %}
          		<div class="row main1 mt-3 pt-2 pb-2 mx-2 text-center justify-content-around ">
 						<div class="col-sm-3">
 							<img class="m-1" id="img-courses" src={{ post.category.image.url }} alt="">
 						</div>
 						<div class="col-sm-7 main2 mx-4 ">
 							<div class="row mb-3">
 								<div class="col">
 									<h6  class=" mt-3 number-jalase">{{ post.description }}</h6>
 								</div>
 							</div>
 							<div class="row">
 								<div class=" col">
 									<h6 id="bg-color" class="more"><a class="color-link" href={% url 'post' post.title %}>
										{{ post.title }}
 							        </a></h6>
 								</div>
 							</div>
 						</div>
 					</div>
         {% endfor %}   
 				
			<div class="row justify-content-center mt-2">
				{% if posts %}
				<ul class="pagination">
					{% if posts.has_previous %}
						<li class="page-item">
							<a  class="page-link" href="?page={{ posts.previous_page_number }}&q={{query}}">previous</a>
						</li>
					{% endif %}
					<li "page-item">
						<a class="page-link" >Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a>
					</li>
					{% if posts.has_next %}
						<li class="page-item">
							<a  class="page-link" href="?page={{ posts.next_page_number }}&q={{query}}">next</a>
						</li>
					{% endif %}
				</ul>
				{% endif %}
			</div>
			</div>
       <!--end course-->
       
       {% endblock %}